@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: Albert Sans !important;
}

h1 {
    padding: 50px 0px;
    color: #1A3F6A;
    font-weight: 700 !important;
}

dt {
    margin-top: 20px;
    border-bottom: 1px dashed #94DCFC;
    font-weight: 700;
    font-size: 22px;
}

dd:hover {
    color: #04844C;
}

footer {
    background-color: #E4FCFC;
    padding: 50px 0px;
}